# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars

# Terraform lock file (optional)
.terraform.lock.hcl

# SSH keys
*.pem

# OS / Editor
.vscode/
.idea/
.DS_Store
